body {
  margin-top: 200px;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  font-weight: bold;
  background-color: white;
}
table,
th,
td {
  border: solid 1px rgb(0, 0, 0);
  padding: 8px;
  text-align: left;
}
.form-container {
  text-align: center;
  margin-bottom: 25px;
}
